<h1 class="animated fadeIn fast">Pagina Sobre Nosotros</h1>
<hr>

<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias doloremque aliquid amet, delectus tenetur rerum veniam beatae eos quis illo enim voluptas nam libero similique quod. Veritatis ullam eius assumenda. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Culpa nostrum provident id molestias sunt est exercitationem expedita, deleniti minus, quis earum! Eaque accusantium quia dicta ab repudiandae ut nisi cupiditate?
</p>