<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-bottom">

    <a class="navbar-brand " href="#">
        <mat-icon>message</mat-icon>
    </a>

    <a class="navbar-brand " href="#">
        <mat-icon>list_alt</mat-icon>
    </a>

    <a class="navbar-brand " href="#">
        <mat-icon>home</mat-icon>
    </a>

    <a class="navbar-brand " href="#">
        <mat-icon>business</mat-icon>
    </a>

    <a class="navbar-brand " href="#">
        <mat-icon>commute</mat-icon>
    </a>

</nav>